:root {
	--bgclr:   #B49974;
	--txtclr:  #101010;
	--artclr:  #E6E4DF;
	--hdgclr:  #935A5A;
	--linkclr: #0000ff;
	--linkvis: #000088;
	--prebg:   #000000;
	--pretxt:  #FFFFFF;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bgclr:   #1E1F21;
		--txtclr:  #EEEFF1;
		--artclr:  #1E1F21;
  		--bgclr:  #282a36;
		--linkclr: #BAD7FF;
		--linkvis: #F6BAFF;
		--hdgclr:  #EEEFF1;
	}
}
body{
	color: var(--txtclr);
	background-color: var(--bgclr);
	text-align: center;
	font:1.2em/1.62 sans-serif;
}
table{
	margin: auto;
	border-spacing: 15px 1px;
}
article{
	max-width:50em;
	text-align: justify;
	margin: auto;
//	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 2em;
	background-color: var(--artclr);
}
code,pre{
color: var(--pretxt);
background-color: var(--prebg);
}
pre{ 
overflow-x: auto; 
padding: 10px;
border: 1px solid #AAAAAA;
} 
img{ 
	display: block; 
	max-width: 85%; 
	margin: auto;
	border-radius: 5px;
}
a:link    { color: var(--linkclr); } 
a:active  { color: var(--linkclr); }
a:visited { color: var(--linkvis); }
a  { text-decoration: underline; }
a:hover { text-decoration: none; }
