:root {
	--bgclr:   #B49974;
	--txtclr:  #101010;
	--artclr:  #E6E4DF;
	--hdgclr:  #935A5A;
	--linkclr: #0000ff;
	--linkvis: #000088;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bgclr:   #1E1F21;
		--txtclr:  #EEEFF1;
		--artclr:  #1E1F21;
		--prebg:   #000000;
		--pretxt:  #FFFFFF;
		--linkclr: #BAD7FF;
		--linkvis: #F6BAFF;
		--hdgclr:  #EEEFF1;
	}
}
body{
	color: var(--txtclr);
	background-color: var(--bgclr);
	text-align: center;
	line-height: 1.4;
	font-size: 18px;
}


h1,h2,h3,h4,h5,h6{
	font-family: Helvetica, Arial, Sans-Serif;
	color: var(--hdgclr);
}

table{
	font-family: Helvetica, Arial, Sans-Serif;
	margin: auto;
	border-spacing: 15px 1px;
}

article{
	width: 75%;
	text-align: justify;
	margin: auto;
}

code,pre{
color: var(--pretxt);
background-color: var(--prebg);
}

pre{ 
overflow-x: auto; 
padding: 10px;
border: 1px solid #AAAAAA;
} 

img{ 
	display: block; 
	max-width: 85%; 
	margin: auto;
	border-radius: 5px;
//	filter: grayscale(100%);
}

a:link    { color: var(--linkclr); } 
a:active  { color: var(--linkclr); }
a:visited { color: var(--linkvis); }

a  { text-decoration: underline; }
a:hover { text-decoration: none; }

